/**********PRIMARY COLOR**********/
$primary-green: #16833F;
$primary-white: #FFFFFF;
$primary-brown-gray: #6F6F6F;
$primary-transparent: transparent;

$primary-transparent: transparent;
$primary-green-16833F: #16833F;
$primary-white-FFFFFF: #FFFFFF;
$primary-red-B53940: #B53940;
$primary-black-000000: #000000;
$primary-dark-green-006341: #006341;
$primary-yellow: #DADD16;
$primary-yellow-FFFCED: #FFFCED;
$primary-orange-EE888E: #EE882A;
$primary-backgroudTextBox-F3F1EF: #F3F1EF;
$primary-brown-gray-6F6F6F: #6F6F6F;
$primary-brownish-gray-B1B1B1: #B1B1B1;

/**********SECONDARY COLOR**********/
$secondary-green-17A14B: #17A14B;
$secondary-green-80C913: #80C913;

/**********PRIMARY FONT**********/
$primary-font-face: 'Avenir-Roman';


/**********ICONOS**********/
$icono-beneficiario-path1: "\e913";
$icono-beneficiario-path2: "\e914";
$icono-beneficiario-path3: "\e915";
$icono-beneficiario-path4: "\e916";
